@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-white text-black;
  }
}
